
<div class="row text-white">
<div class="col-sm-5 offset-sm-4 text-center">

<form action='/image' method='get' class="form-inline justify-content-center p-5">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="imageFormInput">Image</label>
      <input type="text" name='image' placeholder="Image" id="imageFormInput" autofocus required>
    </div>
    <div class="col-auto">
      <input class="btn btn-primary" type='submit' value='view image'>
    </div>
  </div>
</form>


</div>
</div>

