<ul class="list-group">
  <li class="list-group-item list-group-item-success">Me262</li>
  <li class="list-group-item list-group-item-warning">BF-109</li>
  <li class="list-group-item list-group-item-danger">V-1</li>
  <li class="list-group-item list-group-item-success">PanzerKampfWagen IV</li>
  <li class="list-group-item list-group-item-warning">MAUS</li>
  <li class="list-group-item list-group-item-info">Nebelwerfer</li>
  <li class="list-group-item list-group-item-orange">Nebelwerfer</li>
</ul>
