


.layer-ADD {
  color: #000;
  background-color: #d6d8db;
}

.layer-CMD {
  color: #000;
  background-color: #f5c6cb;
}

.layer-CHOWN {
  color: #000;
  background-color: #f4a460;
}

.layer-ENV {
  color: #000;
  background-color: #856404;
}

.layer-RUN {
  color: #000;
  background-color: #c3e6cb;
}

.layer-COPY {
  color: #000;
  background-color: #c3e6cb;
}

.layer-WORKDIR {
  color: #000;
  background-color: #acd4ff;
}

.layer-USER {
  color: #000;
  background-color: #8f8f8f;
}

.layer-ENTRYPOINT {
  color: #000;
  background-color: #c6f5f0;
}

