


.layer-ADD {
  color: #000;
  background-color: #d6d8db;
}

.layer-CMD {
  color: #000;
  background-color: #f5c6cb;
}

.layer-ENV {
  color: #000;
  background-color: #856404;
}

.layer-RUN {
  color: #000;
  background-color: #c3e6cb;
}

.layer-COPY {
  color: #000;
  background-color: #c3e6cb;
}

.layer-WORKDIR {
  color: #000;
  background-color: #acd4ff;
}


.list-group-item-ADD {
  color: #000;
  background-color: #d6d8db;
}

.list-group-item-CMD {
  color: #000;
  background-color: #f5c6cb;
}

.list-group-item-ENV {
  color: #000;
  background-color: #856404;
}

.list-group-item-RUN {
  color: #000;
  background-color: #c3e6cb;
}

.list-group-item-COPY {
  color: #000;
  background-color: #c3e6cb;
}

.list-group-item-WORKDIR {
  color: #000;
  background-color: #acd4ff;
}
